* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.ZebralogEntry {
    display: flex;
    justify-content: left;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 0%;
    margin-right: 0%;
    border-bottom: 1px #DFE3E7 solid;
    font-size: 8px;
}

.ZebralogEntry:nth-child(even) {
    background-color: #F5F5F5;
}

.ZebralogEntry__game_date {
    width: 75%;
    text-align: left;
    padding-left: 2%;
}

.ZebralogEntry__site {
    width: 100%;
    text-align: left;
}

.ZebralogEntry__distance {
    width: 75%;
    text-align: left;
}

.ZebralogEntry__paid {
    display: none;
}

.ZebralogEntry__type {
    display: none;
}

.ZebralogEntry__amount {
    width: 75%;
    text-align: left;
}

.ZebralogEntry__notes {
    display: none;
}

.ZebralogEntry__buttons {
    width: 50%;
    text-align: left;
}

.Edit__Button {
    font-size: 1em;
    text-decoration: none;
    background-color: #FDC030;
    color: #222628;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-radius: 10px;
    display: block;
    width: 75%;
    text-align: center;
    margin-bottom: 3px;
}

.Delete__Button {
    font-size: 1em;
    background-color: #D83749;
    color: #FFFFFF;
    padding: 2px 6px 2px 6px;
    cursor: pointer;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-radius: 10px;
    display: block;
    width: 75%;
    text-align: center;
}

.Edit__Button:hover {
    background-color: #F96C02;
    color: #FFFFFF;
}

.Delete__Button:hover {
    background-color: #FF0000;
    color: #333333;
}

@media screen and (min-width: 370px) {
    .ZebralogEntry {
        font-size: 10px;
    }
}

@media screen and (min-width: 420px) {
    .ZebralogEntry {
        font-size: 12px;
    }
}

@media screen and (min-width: 520px) {
    .ZebralogEntry__type {
        display: flex;
        width: 75%;
        text-align: left;
    }
}

@media screen and (min-width: 620px) {
    .ZebralogEntry {
        font-size: 14px;
    }    
}

@media screen and (min-width: 670px) {
    .ZebralogEntry__paid {
        display: flex;
        width: 50%;
        text-align: left;
    }
}

@media screen and (min-width: 770px) {
    .ZebralogEntry {
        font-size: 16px;
    }
}

@media screen and (min-width: 1020px) {
    .Edit__Button {
        display: inline-block;
        width: 45%;
        text-align: center;
    }

    .Delete__Button {
        display: inline-block;
        width: 45%;
        text-align: center;
    }
}

@media screen and (min-width: 1220px) {
    .ZebralogEntry__notes {
        display: flex;
        width: 100%;
        text-align: left;
    }
}

@media screen and (min-width: 1320px) {
    .ZebralogEntry {
        font-size: 18px;
    }
}

@media screen and (min-width: 1420px) {
    .ZebralogEntry {
        font-size: 20px;
    }    
}

@media screen and (min-width: 1600px) {
    .Edit__Button {
        width: 47.5%;
    }

    .Delete__Button {
        width: 47.5%;
    }    
}