* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.ZebralogEntry {
    display: flex;
    justify-content: left;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 0%;
    margin-right: 0%;
    border-bottom: 1px #DFE3E7 solid;
}

.ZebralogEntry:nth-child(even) {
    background-color: #F5F5F5;
}

.ZebralogEntry__game_date {
    width: 75%;
    text-align: left;
    padding-left: 2%;
}

.ZebralogEntry__site {
    width: 100%;
    text-align: left;
}

.ZebralogEntry__distance {
    width: 75%;
    text-align: left;
}

.ZebralogEntry__paid {
    width: 50%;
    text-align: left;
}

.ZebralogEntry__type {
    width: 75%;
    text-align: left;
}

.ZebralogEntry__amount {
    width: 75%;
    text-align: left;
}

.ZebralogEntry__notes {
    width: 100%;
    text-align: left;
}

.ZebralogEntry__buttons {
    width: 50%;
    text-align: left;
}

.Edit__Button {
    font-size: 1em;
    text-decoration: none;
    background-color: #FDC030;
    color: #222628;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-radius: 10px;
}

.Delete__Button {
    font-size: 1em;
    background-color: #D83749;
    color: #FFFFFF;
    padding: 2px 6px 2px 6px;
    cursor: pointer;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-radius: 10px;
}

.Edit__Button:hover {
    background-color: #F96C02;
    color: #FFFFFF;
}

.Delete__Button:hover {
    background-color: #FF0000;
    color: #333333;
}

@media screen and (max-width: 1092px) {
    .Edit__Button {
        font-size: 0.8em;
    }

    .Delete__Button {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 980px) {
    .ZebralogEntry {
        font-size: 12px;
    }
}

@media screen and (max-width: 850px) {
    .ZebralogEntry {
        font-size: 10px;
    }

    .Edit__Button {
        font-size: 0.65em;
    }

    .Delete__Button {
        font-size: 0.65em;
    }
}

@media screen and (max-width: 720px) {
    .ZebralogEntry {
        font-size: 8px;
    }

    .Edit__Button {
        font-size: 0.5em;
        padding: 1px 3px 1px 3px;
    }

    .Delete__Button {
        font-size: 0.5em;
        padding: 1px 3px 1px 3px;
    }
}

@media screen and (max-width: 540px) {
    .ZebralogEntry {
        font-size: 6px;
    }

    .Edit__Button {
        padding: 0.5px 1.5px 0.5px 1.5px;
    }

    .Delete__Button {
        padding: 0.5px 1.5px 0.5px 1.5px;
    }
}

@media screen and (max-width: 445px) {
    .Edit__Button {
        padding: 0.25px 0.75px 0.25px 0.75px;
    }

    .Delete__Button {
        padding: 0.25px 0.75px 0.25px 0.75px;
    }
}

@media screen and (max-width: 402px) {
    .Edit__Button {
        display: block;
        width: 65%;
        text-align: center;
        margin-bottom: 1px;
    }

    .Delete__Button {
        display: block;
        width: 65%;
        text-align: center;
    }
} 