.LandingPage {
    text-align: center;
    margin: 50px auto;
}

.App__Title {
    color: #2C303B;
    font-size: 16px;
}

.App__Description {
    width: 35%;
    margin: 50px auto;
    font-size: 12px;
    color: #2C303B;
}

.LandingPage__Button {
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    background-color: #32BD16;
    color: white;
    border-radius: 10px;
    margin-bottom: 50px;
    cursor: pointer;
}

.LandingPage__Button:hover {
    background-color: #6FD16C;
}

.LandingPage__Copyright {
    font-size: 12px;
    color: #000036;
    font-weight: 400;
}

.LandingPage__Copyright a {
    text-decoration: none;
}

.LandingPage__Copyright a:hover {
    color: #0000cc;
}

@media screen and (min-width: 520px) {
    .App__Title {
        font-size: 20px;
    }

    .App__Description {
        font-size: 16px;
    }
}

@media screen and (min-width: 820px) {
    .App__Title {
        font-size: 24px;
    }

    .App__Description {
        font-size: 20px;
    }

    .LandingPage__Button {
        font-size: 16px;
    }

    .LandingPage__Copyright {
        font-size: 16px;
    }
}

@media screen and (min-width: 1120px) {
    .App__Title {
        font-size: 28px;
    }

    .App__Description {
        font-size: 24px;
    }

    .LandingPage__Button {
        font-size: 20px;
    }

    .LandingPage__Copyright {
        font-size: 20px;
    }
}