* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.AddZebralog__header {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 2%;
}

.AddZebralog__form label {
    display: block;
    font-size: 18px;
    padding-top: 0.5em;
    padding-right: 0.5em;
    width: 50%;
    text-align: right;
    float: left;
}

.AddZebralog__form input,
.AddZebralog__form select {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    padding: 5px 2.5px 2.5px 2.5px;
    border: 1px solid #ddd;
}

.AddZebralog__form select {
    font-size: 20px;
}
  
.AddZebralog__buttons {
    text-align: center;
}

.AddZebralog__CancelButton {
    font-size: 20px;
    background-color: #F8D433;
    color: black;
    margin: 0 10px;
    padding: 5px;
    border-radius: 10px;
}

.AddZebralog__AddButton {
    font-size: 20px;
    background-color: #03A86B;
    color: white;
    margin: 0 10px;
    padding: 5px;
    border-radius: 10px;
}

.AddZebralog__CancelButton:hover {
    background-color: #caa612;
    color: white;
}

.AddZebralog__AddButton:hover {
    background-color: #90EE90;
    color: black;
}
  
.AddZebralog__required {
    color: #a51414;
}
  
.AddZebralog__error p {
    color: #a51414;
    margin-bottom: 5px;
}

input:active,
input:focus,
input:hover,
select:active,
select:focus,
select:hover {
    background-color: lightyellow;
}