.AddZebralog__header {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 2%;
}

.AddZebralog__form {
    text-align: center;
}

.AddZebralog__form input,
.AddZebralog__form select {
    display: block;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    padding: 5px 10px;
    border: 1px solid #ddd;
  }
  
.AddZebralog__form label {
    margin-top: 10px;
    font-size: 18px;
}
  
.AddZebralog__buttons {
    text-align: center;
    padding-top: 10px;
}

.AddZebralog__CancelButton {
    font-size: 18px;
    background-color: #F8D433;
    color: black;
    margin: 0 5px;
    padding: 5px;
}

.AddZebralog__AddButton {
    font-size: 18px;
    background-color: #03A86B;
    color: white;
    margin: 0 5px;
    padding: 5px;
}
  
.AddZebralog__required {
    color: #a51414;
}
  
.AddZebralog__error p {
    color: #a51414;
    margin-bottom: 5px;
}