* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.ZebralogList__FormGroup {
    margin: 4% auto;
    text-align: center;
    font-size: 9px;
}

.Zebralogs__Site__SearchBox {
    margin-left: 0.25%;
    font-size: 8px;
    padding: 3px;
    width: 25%;
    border: 2px #4B4C4C solid;
    border-radius: 10px;
}

.Zebralogs__Note {
    margin-top: 3%;
    font-size: 8px;
    font-weight: bold;
}

.ZebralogList {
    margin-bottom: 25px;
}

.Zebralog__ListHeaders {
    display: flex;
    list-style-type: none;
    border-top: 1px #E1E5E8 solid;
    border-bottom: 2px #DEE2E6 solid;
    width: 90%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: bold;
    font-size: 8px;
}

.ZebralogList__game_date {
    width: 75%;
    text-align: left;
    padding-left: 2%;
}

.ZebralogList__site {
    width: 100%;
    text-align: left;
}

.ZebralogList__distance {
    width: 75%;
    text-align: left;
}

.ZebralogList__paid {
    display: none;
}

.ZebralogList__type {
    display: none;
}

.ZebralogList__amount {
    width: 75%;
    text-align: left;
}

.ZebralogList__notes {
    display: none;
}

.ZebralogList__Actions {
    width: 50%;
    text-align: left;
}

.ZebralogList__List {
    display: block;
    padding: 0%;
    width: 90%;
    margin: 0% auto;
}

.ZebralogsList__Copyright {
    margin: 25px auto;
    text-align: center;
    font-size: 8px;
    color: #000036;
    font-weight: 400;
}

.ZebralogsList__Copyright a {
    text-decoration: none;
}

.ZebralogsList__Copyright a:hover {
    color: #0000cc;
}

@media screen and (min-width: 370px) {
    .ZebralogList__FormGroup {
        font-size: 11px;
    }
    
    .Zebralogs__Site__SearchBox {
        font-size: 10px;
        width: 25%;
    }
    
    .Zebralogs__Note {
        font-size: 10px;
    }

    .Zebralog__ListHeaders {
        font-size: 10px;
    }

    .ZebralogsList__Copyright {
        font-size: 10px;
    }
}

@media screen and (min-width: 420px) {
    .ZebralogList__FormGroup {
        font-size: 13px;
    }
    
    .Zebralogs__Site__SearchBox {
        font-size: 12px;
        width: 25%;
    }
    
    .Zebralogs__Note {
        font-size: 12px;
    }    
    
    .Zebralog__ListHeaders {
        font-size: 12px;
    }

    .ZebralogsList__Copyright {
        font-size: 12px;
    }
}

@media screen and (min-width: 520px) {
    .Zebralogs__Site__SearchBox {
        width: 22.5%;
    }

    .ZebralogList__type {
        display: flex;
        width: 75%;
        text-align: left;
    }
}

@media screen and (min-width: 620px) {
    .ZebralogList__FormGroup {
        font-size: 15px;
    }
    
    .Zebralogs__Site__SearchBox {
        font-size: 14px;
        width: 20%;
    }
    
    .Zebralogs__Note {
        font-size: 14px;
    }

    .Zebralog__ListHeaders {
        font-size: 14px;
    }

    .ZebralogsList__Copyright {
        font-size: 14px;
    }
}

@media screen and (min-width: 670px) {
    .ZebralogList__paid {
        display: flex;
        width: 50%;
        text-align: left;
    }
}

@media screen and (min-width: 770px) {
    .ZebralogList__FormGroup {
        font-size: 17px;
    }
    
    .Zebralogs__Site__SearchBox {
        font-size: 16px;
        width: 20%;
    }
    
    .Zebralogs__Note {
        font-size: 16px;
    }

    .Zebralog__ListHeaders {
        font-size: 16px;
    }

    .ZebralogsList__Copyright {
        font-size: 16px;
    }
}

@media screen and (min-width: 920px) {
    .Zebralogs__Site__SearchBox {
        width: 17.5%;
    }
}

@media screen and (min-width: 1070px) {
    .Zebralogs__Site__SearchBox {
        width: 15%;
    }
}

@media screen and (min-width: 1170px) {
    .ZebralogList__FormGroup {
        margin-bottom: 3%;
    }

    .Zebralogs__Site__SearchBox {
        width: 12.5%;
    }
}

@media screen and (min-width: 1220px) {
    .ZebralogList__notes {
        display: flex;
        width: 100%;
        text-align: left;
    }
}

@media screen and (min-width: 1320px) {
    .ZebralogList__FormGroup {
        font-size: 19px;
    }
    
    .Zebralogs__Site__SearchBox {
        font-size: 18px;
        width: 12.5%;
    }
    
    .Zebralogs__Note {
        font-size: 18px;
    }

    .Zebralog__ListHeaders {
        font-size: 18px;
    }

    .ZebralogsList__Copyright {
        font-size: 18px;
    }
}

@media screen and (min-width: 1420px) {
    .ZebralogList__FormGroup {
        font-size: 21px;
    }
    
    .Zebralogs__Site__SearchBox {
        font-size: 20px;
        width: 15%;
    }
    
    .Zebralogs__Note {
        font-size: 20px;
    }

    .Zebralog__ListHeaders {
        font-size: 20px;
    }

    .ZebralogsList__Copyright {
        font-size: 20px;
    }
}