* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.ZebralogList__FormGroup {
    margin: 3% auto;
    text-align: center;
    font-size: 1.2em;
}

.Zebralogs__Site__SearchBox {
    margin-left: 0.25%;
    font-size: 1em;
    padding: 3px;
    width: 13%;
    border: 2px #4B4C4C solid;
    border-radius: 10px;
}

.Zebralogs__Note {
    margin-top: 3%;
    font-size: 1em;
    font-weight: bold;
}

.ZebralogList {
    margin-bottom: 25px;
}

.Zebralog__ListHeaders {
    display: flex;
    list-style-type: none;
    border-top: 1px #E1E5E8 solid;
    border-bottom: 2px #DEE2E6 solid;
    width: 90%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: bold;
    font-size: 16px;
}

.ZebralogList__game_date {
    width: 75%;
    text-align: left;
    padding-left: 2%;
}

.ZebralogList__site {
    width: 100%;
    text-align: left;
}

.ZebralogList__distance {
    width: 75%;
    text-align: left;
}

.ZebralogList__paid {
    width: 50%;
    text-align: left;
}

.ZebralogList__type {
    width: 75%;
    text-align: left;
}

.ZebralogList__amount {
    width: 75%;
    text-align: left;
}

.ZebralogList__notes {
    width: 100%;
    text-align: left;
}

.ZebralogList__Actions {
    width: 50%;
    text-align: left;
}

.ZebralogList__List {
    display: block;
    padding: 0%;
    width: 90%;
    margin: 0% auto;
}

.ZebralogsList__Copyright {
    margin: 25px auto;
    text-align: center;
    font-size: 16px;
    color: #000036;
    font-weight: 400;
}

.ZebralogsList__Copyright a {
    text-decoration: none;
}

.ZebralogsList__Copyright a:hover {
    color: #0000cc;
}

@media screen and (max-width: 1200px) {
    .Zebralogs__Site__SearchBox {
        font-size: 0.8em;
    }

    .Zebralogs__Note {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 980px) {
    .ZebralogList__FormGroup {
        font-size: 0.8em;
    }

    .Zebralog__ListHeaders {
        font-size: 12px;
    }

    .ZebralogsList__Copyright {
        font-size: 12px;
    }
}

@media screen and (max-width: 850px) {
    .Zebralog__ListHeaders {
        font-size: 10px;
    }
}

@media screen and (max-width: 720px) {
    .ZebralogList__FormGroup {
        font-size: 0.6em;
    }

    .Zebralog__ListHeaders {
        font-size: 8px;
    }

    .ZebralogsList__Copyright {
        font-size: 8px;
    }
}

@media screen and (max-width: 620px) {
    .Zebralogs__Site__SearchBox {
        font-size: 7px;
    }
}

@media screen and (max-width: 540px) {
    .ZebralogList__FormGroup {
        font-size: 0.5em;
    }

    .Zebralogs__Site__SearchBox {
        font-size: 6px;
    }

    .Zebralog__ListHeaders {
        font-size: 6px;
    }

    .ZebralogsList__Copyright {
        font-size: 6px;
    }
}

@media screen and (max-width: 445px) {
    .Zebralogs__Note {
        font-size: 8px;
    }
}