* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App__Logo__Title {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.App__Logo {
  width: 8%;
  height: 8%;
}

.App__Title {
  margin-top: 2%;
  margin-left: 1%;
}

.Navigation__Buttons {
  text-align: center;
  margin-top: 3%;
}

@media screen and (min-width: 440px) {
  .App__Logo {
    width: 7.5%;
    height: 7.5%;
  }
}

@media screen and (min-width: 540px) {
  .App__Logo {
    width: 7%;
    height: 7%;
  }
}

@media screen and (min-width: 620px) {
  .App__Logo {
    width: 6.5%;
    height: 6.5%;
  }
}

@media screen and (min-width: 720px) {
  .App__Logo {
    width: 6%;
    height: 6%;
  }
}

@media screen and (min-width: 920px) {
  .App__Logo {
    width: 5.5%;
    height: 5.5%;
  }
}

@media screen and (min-width: 1170px) {
  .App__Logo {
    width: 5%;
    height: 5%;
  }
}