* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App__Logo__Title {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.App__Logo {
  width: 5%;
  height: 5%;
}

.App__Title {
  margin-top: 2%;
  margin-left: 1%;
}

.Navigation__Buttons {
  text-align: center;
  margin-top: 3%;
}

@media screen and (max-width: 1100px) {
  .App__Logo {
    width: 6%;
    height: 6%;
  }
}

@media screen and (max-width: 800px) {
  .App__Logo {
    width: 7%;
    height: 7%;
  }
}

@media screen and (max-width: 650px) {
  .App__Logo {
    width: 8%;
    height: 8%;
  }
}