* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.Download__Button {
    margin-right: 0.25em;
    text-align: center;
    font-size: 8px;
    font-weight: bold;
    text-decoration: none;
    background-color: #157FFB;
    color: #FDFEFF;
    padding: 4px 8px 4px 8px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-radius: 10px;
}

.AddEntry__Button {
    margin-left: 0.25em;
    font-size: 8px;
    font-weight: bold;
    text-decoration: none;
    background-color: #31A54A;
    color: #F4FAF5;
    padding: 4px 8px 4px 8px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-radius: 10px;
}

.Download__Button:hover {
    background-color: #9FEBED;
    color: #333333;
}

.AddEntry__Button:hover {
    background-color: #32CC32;
    color: #303030;
}

@media screen and (min-width: 420px) {
    .Download__Button {
        font-size: 10px;
    }

    .AddEntry__Button {
        font-size: 10px;
    }
}

@media screen and (min-width: 620px) {
    .Download__Button {
        font-size: 12px;
    }

    .AddEntry__Button {
        font-size: 12px;
    }
}

@media screen and (min-width: 770px) {
    .Download__Button {
        font-size: 14px;
    }

    .AddEntry__Button {
        font-size: 14px;
    }
}

@media screen and (min-width: 1070px) {
    .Download__Button {
        font-size: 16px;
    }

    .AddEntry__Button {
        font-size: 16px;
    }
}

@media screen and (min-width: 1320px) {
    .Download__Button {
        font-size: 18px;
    }

    .AddEntry__Button {
        font-size: 18px;
    }
}

@media screen and (min-width: 1420px) {
    .Download__Button {
        font-size: 20px;
    }

    .AddEntry__Button {
        font-size: 20px;
    }
}